RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 https://sandrodcpereira.com/404.html

Redirect /2011/01/super-mario-icons-extravaganza https://sandrodcpereira.com/super-mario-icons
