RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 http://www.sandro.design/404.html

Redirect 301 2011/01/super-mario-icons-extravaganza.html http://sandrodcpereira.com/super-mario-icons
