<hr>

<ul>
	<li>
		<a target="_blank" href="https://dribbble.com/sandrodcpereira">
			<i class="fab fa-dribbble"></i>
			<span>Dribbble</span>
		</a>
	</li>

	<li>
		<a target="_blank" href="https://twitter.com/sandrodcpereira">
			<i class="fab fa-twitter"></i>
			<span>Twitter</span>
		</a>
	</li>

	<li>
		<a target="_blank" href="https://www.instagram.com/sandrodcpereira">
			<i class="fab fa-instagram"></i>
			<span>Instagram</span>
		</a>
	</li>

	<li>
		<a target="_blank" href="https://www.linkedin.com/in/sandrodcpereira">
			<i class="fab fa-linkedin"></i>
			<span>LinkedIn</span>
		</a>
	</li>

	<li>
		<a target="_blank" href="https://www.goodreads.com/sandrodcpereira">
			<i class="fab fa-goodreads"></i>
			<span>Goodreads</span>
		</a>
	</li>

	<li>
		<a target="_blank" href="https://github.com/sandrodcpereira">
			<i class="fab fa-github"></i>
			<span>GitHub</span>
		</a>
	</li>

	<!--li>
		<a target="_blank" href="https://giphy.com/channel/sandrodcpereira">
			<i class="far fa-file"></i>
			<svg></svg>
			<span>Giphy</span>
		</a>
	</li-->

	<li>
		<a href="mailto:hello@sandro.design">
			<i class="far fa-envelope"></i>
			<span>Email</span>
		</a>
	</li>

</ul>

<p>©2020 • Website designed and coded by <span>Sandro Pereira
	<img class="sandro-peeking" src="assets/generic/sandro-peeking.png" alt="Sandro peeking over from the bottom of the screen">
	<img class="sandro-peeking-hands" src="assets/generic/sandro-peeking-hands.png" alt="Sandro's hands peeking over from the bottom of the screen">
</span></p>


