<div class="header-sticky">
	<div class="header-container">
		<div class="icon menu">@</div>
		<div class="icon home">@</div>

		<h3>Empty</h3>
	</div>
</div>

<!--div class="nav-container">

	<div class="nav-contents">

		<p><a href="index.html"><i class="fas fa-home"></i></a></p></br>

		<h3>Showpad</h3>
		<ul>
			<li><p><a href="showpad-pitchai.html">PitchAI</a></p></li>
			<li><p><a href="showpad-coach-redesign.html">Showpad Coach Redesign</a></p></li>
			<li><p><a href="showpad-video-trimming.html">Showpad Video Trimming</a></p></li>
			<li><p><a href="showpad-video-redesign.html">Showpad Video Redesign</a></p></li>
			<li><p><a href="showpad-video-backgrounds.html">Showpad Video Virtual Backgrounds</a></p></li>
		</ul>				

		<h3>Akkroo/Integrate</h3>
		<ul>
			<li><p><a href="integrate-new-mobile-app.html">A Brand New Mobile App</a></p></li>
			<li><p><a href="integrate-new-web-app.html">A Brand New Web App</a></p></li>
			<li><p><a href="integrate-fun-user-testing.html">Making User Testing Fun</a></p></li>		
			<li><p><a href="akkroo-badge-scan-improvements.html">Badge Scanning Improvements</a></p></li>
			<li><p><a href="akkroo-new-checkin-experience.html">New Check-in Experience</a></p></li>
			<li><p><a href="akkroo-react-native-app.html">React Native App</a></p></li>
			<li><p><a href="akkroo-user-feedback-prompt.html">User Feedback Prompt</a></p></li>
			<li><p><a href="akkroo-major-app-update.html">Major App Update</a></p></li>
			<li><p><a href="akkroo-success-hub.html">Success Hub</a></p></li>		</ul>

		<h3>SMARKIO</h3>
		<ul>
			<li><p><a href="smarkio-chat.html">Automated Chat</a></p></li>
			<li><p><a href="smarkio-market-ready.html">Bringing a Product to Market</a></p></li>
		</ul>

		<h3>Other projects</h3>
		<ul>
			<li><p><a href="https://frankandbuddy.com/" target="_blank">Frank and Buddy</a></p></li>
			<li><p><a href="figma-card-game.html">Designing a card game in Figma</a></p></li>
			<li><p><a href="https://chorefy.co" target="_blank">Chorefy</a></p></li>
			<li><p><a href="stowify.html">Stowify</a></p></li>
			<li><p><a href="borboleta-gorda.html">Borboleta Gorda</a></p></li>
			<li><p><a href="motion.html">Motion Graphics</a></p></li>
			<li><p><a href="dotfetch.html">DotFetch</a></p></li>
			<li><p><a href="deriva.html">Derivå</a></p></li>
		</ul>

	</div>
</div-->







<script>
	
// active menu item

$('nav a').filter(function(){
  return this.href === location.href;
}).addClass('active');

// mobile menu open and close

$(function(){
	$('#menu-toggle').click(function(){
		$('nav').toggleClass("open");
		$('#menu-toggle').toggleClass("open");
	});
});

// open on focus

$(function(){
	$('nav a').focus(function(){
		console.log('hello you');
		$('nav').addClass("focus");
	});

	$('nav a').focusout(function(){
		console.log('hello you');
		$('nav').removeClass("focus");
	});
});

// center nav on screen if window is taller than nav

$( document ).ready(function() { 
	$(function(){
		var navHeight = $(".nav-contents").height();
		var windowHeight = $(window).height();
		//console.log(navHeight + " and " + windowHeight);
    	
    	if (navHeight < windowHeight){
			$(".nav-container").css("justify-content", "center");
		};
	});
});

// header code

// copy main header content to sticky header

$(document).ready(function() {
  var h1Text = $('h1:first').text(); // get the text content of the first h1 element
  $('.header-container > h3').text(h1Text); // set the text content of the h3 element to the text content of the h1 element
});


// sticky header show on h1 out of view

$(document).ready(function() {
  $(window).scroll(function() {
    var scrollPosition = $(window).scrollTop();
    var h1Position = $('h1:first').offset().top + $('h1:first').outerHeight(); 
    var headerHeight = $('.header-sticky').outerHeight(); 
    if (scrollPosition >= h1Position - headerHeight) {
      $('.header-sticky').addClass('show');
    } else {
      $('.header-sticky').removeClass('show');
    }
  });
});


</script>
