<div class="nav-container">

	<h3>Featured projects</h3>
	<ul>
		<li><p><a href="https://getheap.app/" target="_blank">Heap App</a></p></li>
		<li><p><a href="https://animaticss.pro/" target="_blank">Animaticss</a></p></li>
	</ul>

	<h3>Showpad</h3>
	<ul>
		<li><p><a href="showpad-forrester-report.html">Forrester Wave Leader</a></p></li>
		<li><p><a href="showpad-pitchai.html">PitchAI</a></p></li>
		<li><p><a href="showpad-coach-redesign.html">Showpad Coach Redesign</a></p></li>
		<li><p><a href="showpad-video-trimming.html">Showpad Video Trimming</a></p></li>
		<li><p><a href="showpad-video-redesign.html">Showpad Video Redesign</a></p></li>
		<li><p><a href="showpad-video-backgrounds.html">Showpad Video Virtual Backgrounds</a></p></li>
	</ul>				

	<h3>Akkroo/Integrate</h3>
	<ul>
		<li><p><a href="integrate-new-mobile-app.html">A Brand New Mobile App</a></p></li>
		<li><p><a href="integrate-new-web-app.html">A Brand New Web App</a></p></li>
		<li><p><a href="integrate-fun-user-testing.html">Making User Testing Fun</a></p></li>		
		<li><p><a href="akkroo-badge-scan-improvements.html">Badge Scanning Improvements</a></p></li>
		<li><p><a href="akkroo-new-checkin-experience.html">New Check-in Experience</a></p></li>
		<li><p><a href="akkroo-react-native-app.html">React Native App</a></p></li>
		<li><p><a href="akkroo-user-feedback-prompt.html">User Feedback Prompt</a></p></li>
		<li><p><a href="akkroo-major-app-update.html">Major App Update</a></p></li>
		<li><p><a href="akkroo-success-hub.html">Success Hub</a></p></li>		</ul>

	<h3>SMARKIO</h3>
	<ul>
		<li><p><a href="smarkio-chat.html">Automated Chat</a></p></li>
		<li><p><a href="smarkio-market-ready.html">Bringing a Product to Market</a></p></li>
	</ul>

	<h3>Other projects</h3>
	<ul>
		<li><p><a href="https://frankandbuddy.com/" target="_blank">Frank and Buddy</a></p></li>
		<li><p><a href="figma-card-game.html">Designing a card game in Figma</a></p></li>
		<li><p><a href="https://chorefy.co" target="_blank">Chorefy</a></p></li>
		<li><p><a href="stowify.html">Stowify</a></p></li>
		<li><p><a href="borboleta-gorda.html">Borboleta Gorda</a></p></li>
		<li><p><a href="motion.html">Motion Graphics</a></p></li>
		<li><p><a href="dotfetch.html">DotFetch</a></p></li>
		<li><p><a href="deriva.html">Derivå</a></p></li>
	</ul>

</div>

<script>
	
	// active menu item

	$('nav a').filter(function(){
	  return this.href === location.href;
	}).addClass('active');

	// open on focus

	$(function(){
		$('nav a').focus(function(){
			$('nav > .nav-container').addClass("focus");
		});

		$('nav a').focusout(function(){
			$('nav > .nav-container').removeClass("focus");
		});
	});

</script>
