<div class="nav-container">

	<p id="menu-toggle"><i class="fas fa-caret-right"></i></p>

	<p><a href="index.html"><i class="fas fa-home"></i></a></p>

	<br>

	<h3><a href="about.html">About</a></h3>

	<br>

	<h3>Akkroo/Integrate</h3>

	<ul>
		<li>
			<p><a href="akkroo-badge-scan-improvements.html">Badge Scanning Improvements</a></p>
		</li>

		<li>
			<p><a href="akkroo-new-checkin-experience.html">New Check-in Experience</a></p>
		</li>

		<li>
			<p><a href="akkroo-react-native-app.html">React Native App</a></p>
		</li>

		<li>
			<p><a href="akkroo-user-feedback-prompt.html">User Feedback Prompt</a></p>
		</li>

		<li>
			<p><a href="akkroo-major-app-update.html">Major App Update</a></p>
		</li>

		<li>
			<p><a href="akkroo-success-hub.html">Success Hub</a></p>
		</li>
	</ul>

	<h3>Adclick</h3>

	<ul>
		<li>
			<p><a href="adclick.html">See samples of work</a></p>
		</li>
	</ul>

	<h3>Small bits and pieces</h3>

	<ul>
		<li>
			<p><a href="misc-motion.html">Motion Graphics</a></p>
		</li>

		<li>
			<p><a href="misc-sintagma.html">Sintagma Rebrand</a></p>
		</li>

		<li>
			<p><a href="misc-illustration.html">Illustration</a></p>
		</li>

		<li>
			<p><a href="misc-brastemp.html">Brastemp Campaign</a></p>
		</li>

		<li>
			<p><a href="misc-logos.html">Branding & Logos</a></p>
		</li>
	</ul>
</div>

<script>
	
// active menu item

$('nav a').filter(function(){
  return this.href === location.href;
}).addClass('active');

// mobile menu open and close

$(function(){
	$('#menu-toggle').click(function(){
		$('nav').toggleClass("open");
		$('#menu-toggle').toggleClass("open");
	});
});

// open on focus

$(function(){
	$('nav a').focus(function(){
		console.log('hello you');
		$('nav').addClass("focus");
	});

	$('nav a').focusout(function(){
		console.log('hello you');
		$('nav').removeClass("focus");
	});
});



</script>
