html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  width: 100%;
  font-family: "azo-sans-web", 'Azo Sans', sans-serif;
  background-color: #EAEEF0;
  color: #2F3E4A;
}
.wrapper {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}
@media (max-width: 1023px) {
  .wrapper {
    padding: 40px;
  }
}
.wrapper nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  font-size: 0.5em;
  opacity: 1;
  height: 100%;
}
.wrapper nav #menu-toggle {
  display: none;
}
.wrapper nav .nav-container {
  overflow-x: scroll;
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 100%;
}
.wrapper nav .nav-container i {
  font-size: 1.8em;
}
.wrapper nav .nav-container .nav-contents {
  padding: 60px 40px 60px 20px;
}
.wrapper nav .nav-container ul {
  list-style-type: none;
  padding: 0 0 0 10px;
  padding-inline-start: 10px;
}
.wrapper nav .nav-container p,
.wrapper nav .nav-container h3 {
  display: inline-block;
  width: fit-content;
  margin: 2px;
  opacity: 0.1;
  letter-spacing: -2px;
  transition: letter-spacing 0.1s ease-out;
  color: transparent;
  background-image: url('../assets/generic/nav-hidden.png');
  background-repeat: repeat-x;
  background-position: center center;
  background-size: 10px;
}
.wrapper nav .nav-container p a,
.wrapper nav .nav-container h3 a {
  color: transparent;
}
.wrapper nav .nav-container h3 {
  font-size: 1.4em;
  margin: 16px 2px 2px 2px;
}
@media (min-width: 1120px) {
  .wrapper nav:hover,
  .wrapper nav.focus {
    background-color: #EAEEF0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
  }
  .wrapper nav:hover p,
  .wrapper nav.focus p,
  .wrapper nav:hover h3,
  .wrapper nav.focus h3 {
    color: #2F3E4A;
    opacity: 0.8;
    background-image: none;
    letter-spacing: 0px;
  }
  .wrapper nav:hover p a,
  .wrapper nav.focus p a,
  .wrapper nav:hover h3 a,
  .wrapper nav.focus h3 a {
    color: #2F3E4A;
  }
  .wrapper nav:hover p a.active,
  .wrapper nav.focus p a.active,
  .wrapper nav:hover h3 a.active,
  .wrapper nav.focus h3 a.active {
    color: #1B1BFF;
    font-weight: bold;
  }
  .wrapper nav:hover p a:hover,
  .wrapper nav.focus p a:hover,
  .wrapper nav:hover h3 a:hover,
  .wrapper nav.focus h3 a:hover {
    color: #1B1BFF;
  }
}
@media (max-width: 1200px) {
  .wrapper nav {
    background-color: #EAEEF0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
    left: -300px;
    transition: left 0.2s ease-out;
    font-size: 0.6em;
  }
  .wrapper nav.open {
    left: 0;
  }
  .wrapper nav .nav-container {
    display: block;
  }
  .wrapper nav .nav-container p,
  .wrapper nav .nav-container h3 {
    color: #2F3E4A;
    opacity: 0.8;
    background-image: none;
    letter-spacing: 0px;
    padding: 6px 0;
  }
  .wrapper nav .nav-container p a,
  .wrapper nav .nav-container h3 a {
    color: #2F3E4A;
    padding: 6px 0;
  }
  .wrapper nav .nav-container p a.active,
  .wrapper nav .nav-container h3 a.active {
    color: #1B1BFF;
    font-weight: bold;
  }
  .wrapper nav .nav-container #menu-toggle {
    display: block;
    width: 38px;
    position: fixed;
    top: 127px;
    left: -3px;
    padding: 10px 14px 8px 14px;
    background-color: #EAEEF0;
    border-radius: 0 8px 8px 0;
    transition: left 0.2s ease-out;
    opacity: 0.5;
  }
  .wrapper nav .nav-container #menu-toggle i {
    pointer-events: none;
    font-size: 2.4em;
  }
  .wrapper nav .nav-container #menu-toggle.open {
    left: 234px;
    opacity: 1;
  }
  .wrapper nav .nav-container #menu-toggle.open > i {
    transform: rotate(180deg);
  }
}
section,
header {
  margin-bottom: 80px;
}
p,
li {
  font-size: 1.1em;
  line-height: 1.9em;
}
li.disabled {
  text-decoration: underline;
  opacity: 0.5;
  cursor: not-allowed;
}
h1,
h2,
h3 {
  font-family: eskorte-latin, serif;
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-size: 3em;
  line-height: 1.4em;
}
@media (max-width: 1023px) {
  h1 {
    font-size: 2.2em;
  }
}
h2 {
  font-size: 2.4em;
  line-height: 1.6em;
}
@media (max-width: 1023px) {
  h2 {
    font-size: 1.6em;
  }
}
h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-top: 3em;
}
h4 {
  font-size: 0.8em;
  line-height: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  color: #638096;
  letter-spacing: 0.1em;
  margin-top: 8em;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #638096;
  opacity: 0.1;
}
.info {
  padding: 15px 25px 15px 52px;
  margin: 30px 0;
  border-radius: 6px;
  background-color: rgba(27, 27, 255, 0.05);
  position: relative;
}
.info > p {
  font-size: 1em;
}
.info > p:first-child {
  margin-top: 0;
}
.info > p:last-child {
  margin-bottom: 0;
}
.info:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f05a";
  opacity: 1;
  color: #638096;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  top: 19px;
  left: 22px;
}
.info.prototype:before {
  content: "\f25a";
}
.info.video:before {
  content: "\f04b";
}
.info.award {
  background-color: #ECE6C9;
}
.info.award:before {
  content: "\f5a2";
  color: #E6B93D;
}
img {
  width: 100%;
  display: block;
  margin: 40px auto 20px auto;
}
img.border-radius {
  border-radius: 4px;
}
img.border-radius-big {
  border-radius: 8px;
}
img.medium {
  max-width: 600px;
}
img.small {
  max-width: 200px;
}
img.border {
  border-radius: 4px;
  border: 2px solid #EAEEF0;
}
img.shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
}
.img-full {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #1B1BFF;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.img-full img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.img-full .video {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.img-full.akkroo {
  background-color: #0089CB;
}
.img-full.integrate {
  background-color: #213A60;
}
.img-full.showpad {
  background-color: #2D2E83;
}
.img-full.smarkio {
  background-color: #3B84C9;
}
.img-full.deriva {
  background-color: #05bae2;
}
.img-full.dotfetch {
  background-color: #ee4653;
}
.old-new-toggle {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 24px 0 72px 0;
  cursor: pointer;
}
.old-new-toggle.mobile {
  max-width: 320px;
}
.old-new-toggle img {
  margin: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.old-new-toggle img.no-shadow {
  box-shadow: none;
}
.old-new-toggle .before {
  position: absolute;
  top: 0;
  opacity: 0;
  box-shadow: none;
  transition: opacity 0.2s ease;
}
.old-new-toggle .dot {
  position: absolute;
  font-size: 11px;
  font-weight: 800;
  color: #ffffff;
  background-color: #1B1BFF;
  border-radius: 20px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  transition: top 0.2s ease, left 0.2s ease, opacity 0.2s ease;
}
.old-new-toggle .dot.first {
  transition-delay: 0.2s;
}
.old-new-toggle .dot.second {
  transition-delay: 0.3s;
}
.old-new-toggle .dot.third {
  transition-delay: 0.4s;
}
.old-new-toggle .dot.hierarchy {
  top: 40%;
  left: 30%;
}
.old-new-toggle .dot.progress {
  top: -2%;
  left: 50%;
}
.old-new-toggle .dot.overview {
  top: 70%;
  left: 80%;
}
.old-new-toggle .dot.contents {
  top: 30%;
  left: 25%;
}
.old-new-toggle .dot.navigation {
  top: 90%;
  left: 64%;
}
.old-new-toggle .dot.next {
  top: 96%;
  left: 97%;
}
.old-new-toggle .dot.prepare {
  top: 38%;
  left: 16%;
}
.old-new-toggle .dot.recording {
  top: 30%;
  left: 64%;
}
.old-new-toggle .dot.draft {
  top: 66%;
  left: 52%;
}
.old-new-toggle .dot.type {
  top: 36%;
  left: 39%;
}
.old-new-toggle .dot.size {
  top: 11%;
  left: 39%;
}
.old-new-toggle .dot.input {
  top: 55%;
  left: 80.5%;
}
.old-new-toggle .dot.hidden {
  top: 79%;
  left: 79%;
}
.old-new-toggle .dot.highlight {
  -webkit-box-shadow: 0px 0px 0px 8px rgba(27, 27, 255, 0.25);
  -moz-box-shadow: 0px 0px 0px 8px rgba(27, 27, 255, 0.25);
  box-shadow: 0px 0px 0px 8px rgba(27, 27, 255, 0.25);
}
.old-new-toggle .helper {
  position: absolute;
  font-size: 0.8em;
  color: #ffffff;
  background-color: #2F3E4A;
  padding: 8px 14px;
  border-radius: 8px;
  text-align: center;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.old-new-toggle .helper > p {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.old-new-toggle .helper > .toggle {
  display: inline-block;
  height: 10px;
  width: 16px;
  border-radius: 8px;
  background-color: #1FAD72;
  margin: 0 2px;
  position: relative;
}
.old-new-toggle .helper > .toggle > div {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.1s ease;
}
.old-new-toggle.old img.before {
  opacity: 1;
}
.old-new-toggle.old .dot.hierarchy {
  top: 60%;
  left: 30%;
}
.old-new-toggle.old .dot.progress {
  top: 50%;
  left: 50%;
}
.old-new-toggle.old .dot.overview {
  top: 20%;
  left: 80%;
}
.old-new-toggle.old .dot.contents {
  top: 40%;
  left: 90%;
}
.old-new-toggle.old .dot.navigation {
  top: 50%;
  left: 60%;
}
.old-new-toggle.old .dot.next {
  top: 30%;
  left: 80%;
}
.old-new-toggle.old .dot.prepare {
  top: 31%;
  left: 85%;
}
.old-new-toggle.old .dot.recording {
  top: 38%;
  left: 30%;
}
.old-new-toggle.old .dot.draft {
  top: 82%;
  left: 19%;
}
.old-new-toggle.old .dot.type {
  top: 37%;
  left: 14%;
}
.old-new-toggle.old .dot.size {
  top: 27%;
  left: 37%;
}
.old-new-toggle.old .dot.input {
  top: 74%;
  left: 80%;
}
.old-new-toggle.old .dot.hidden {
  top: 78%;
  left: 78%;
}
.old-new-toggle.old .toggle {
  background-color: #638096;
}
.old-new-toggle.old .toggle > div {
  left: 7px;
}
p.before-after span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #1B1BFF;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  margin-right: 10px;
  vertical-align: text-top;
}
p.before-after:hover span {
  -webkit-box-shadow: 0px 0px 0px 8px rgba(27, 27, 255, 0.25);
  -moz-box-shadow: 0px 0px 0px 8px rgba(27, 27, 255, 0.25);
  box-shadow: 0px 0px 0px 8px rgba(27, 27, 255, 0.25);
}
.fas.fork.fa-square {
  transform: rotate(45deg);
  color: #0089CB;
  margin: 0 5px;
}
h3 .fas.fork.fa-square {
  margin: 0 10px 0 0;
}
figcaption {
  display: block;
  font-size: 0.8em;
  line-height: 1.8em;
  font-weight: 500;
  color: #638096;
  text-align: center;
  margin-bottom: 60px;
}
blockquote {
  font-size: 1.8em;
  line-height: 1.6em;
  color: #638096;
  font-family: eskorte-latin, serif;
  font-weight: 800;
  font-style: italic;
}
@media (max-width: 1023px) {
  blockquote {
    font-size: 1.4em;
  }
}
blockquote.jtbd > u {
  text-decoration: none;
  background-color: rgba(99, 128, 150, 0.2);
}
cite {
  display: block;
  margin: -1em 3em 3em 3em;
  font-size: 0.8em;
  line-height: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-style: initial;
  color: #638096;
}
abbr[title] {
  border-bottom: 1px dashed #638096;
  text-decoration: none;
}
section a[target="_blank"] {
  color: #2F3E4A;
}
section a[target="_blank"]:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f35d";
  font-weight: 900;
  opacity: 0.4;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  display: inline-block;
  margin-left: 4px;
}
section a[target="_blank"]:hover {
  color: #1B1BFF;
}
section a[target="_blank"]:hover:after {
  opacity: 1;
}
.thumbnails a[target="_blank"]:after {
  content: none;
}
.thumbnails a[target="_blank"] h3 {
  position: relative;
  display: inline-block;
}
.thumbnails a[target="_blank"] h3:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f35d";
  font-weight: 900;
  opacity: 0.4;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  top: 6px;
  right: -24px;
}
.thumbnails a[target="_blank"]:hover h3:after {
  opacity: 1;
}
.nav-contents a[target="_blank"] {
  color: #2F3E4A;
}
.nav-contents a[target="_blank"]:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f35d";
  font-weight: 900;
  opacity: 0.4;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  display: inline-block;
  margin-left: 4px;
}
.nav-contents a[target="_blank"]:hover {
  color: #1B1BFF;
}
.nav-contents a[target="_blank"]:hover:after {
  opacity: 1;
}
table {
  width: 100%;
  margin: 40px auto;
}
table td,
table th {
  font-weight: 900;
  text-align: center;
  padding: 20px;
  background-color: rgba(99, 128, 150, 0.15);
  border-radius: 8px;
}
table td.hidden,
table th.hidden {
  opacity: 0;
}
table td span,
table th span {
  display: inline-block;
  font-size: 0.9em;
  background-color: #638096;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
}
@media (max-width: 800px) {
  table {
    font-size: 0.7em;
  }
  table td,
  table th {
    padding: 10px;
  }
  table td span,
  table th span {
    display: block;
    margin: 2px;
  }
}
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  margin: 20px auto;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
}
.label {
  color: #ffffff;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1px 5px 1px 4px;
  margin-left: 4px;
  border-radius: 4px;
  background-color: #2F3E4A;
  vertical-align: middle;
}
header {
  padding: 80px 0 0;
}
#logo {
  display: inline-block;
  height: 64px;
  width: 64px;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/generic/s-logo.png');
}
@keyframes logoAnimation {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1408px;
  }
}
#logo.animated {
  background-image: url('../assets/generic/s-logo-frames.png');
}
#logo.animated:hover {
  animation: logoAnimation 1.2s steps(22) 1;
}
footer {
  margin-top: 120px;
  padding: 0 0 100px 0;
  text-align: center;
}
footer ul {
  padding: 0;
  font-size: 1.4em;
  margin-top: 80px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  position: relative;
}
footer ul li a {
  display: block;
  padding: 2px 12px;
  color: #638096;
}
footer ul li a:hover {
  color: #2F3E4A;
}
footer ul li a:hover span {
  opacity: 1;
  top: -14px;
}
footer ul li a span {
  position: absolute;
  top: -12px;
  left: 50%;
  display: block;
  background-color: #2F3E4A;
  font-size: 0.4em;
  opacity: 0;
  line-height: 1em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 6px;
  border-radius: 6px;
  transform: translate(-50%, 0px);
  transition: opacity 0.2s ease-out, top 0.2s ease-out;
}
footer p {
  font-weight: 500;
  font-style: normal;
  font-size: 0.8em;
  color: #638096;
}
footer p > span.sandro {
  color: #1B1BFF;
  font-weight: 700;
  cursor: help;
}
footer p > span.sandro .sandro-peeking {
  display: block;
  width: 60px;
  position: fixed;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  transition: bottom 0.3s cubic-bezier(0.42, -0.01, 0.15, 1.45) 0.4s;
}
footer p > span.sandro .sandro-peeking-hands {
  display: block;
  width: 160px;
  position: fixed;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  transition: bottom 0.2s ease-out;
}
footer p > span.sandro:hover .sandro-peeking {
  bottom: -7px;
}
footer p > span.sandro:hover .sandro-peeking-hands {
  bottom: 0px;
}
ul.value,
ul.improvements {
  list-style: none;
}
ul.value li:before,
ul.improvements li:before {
  display: inline-block;
  margin-left: -1.5em;
  width: 1.5em;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}
ul.value > li:before {
  content: "\f00c";
}
ul.improvements > li:before {
  content: "\f00d";
}
.home section ul {
  margin-top: 40px;
}
.home .wrapper:first-child {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #1B1BFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../assets/generic/bg1.jpg');
  background-size: cover;
  background-position: center center;
}
.home .wrapper:first-child .header {
  text-align: left;
  max-width: 840px;
  margin: 0 auto;
  color: #EAEEF0;
  margin-bottom: 40px;
  padding: 0 50px;
}
@media (max-width: 800px) {
  .home .wrapper:first-child .header {
    padding: 0;
    margin-bottom: 0;
  }
}
.home .wrapper:first-child .header p a {
  color: #EAEEF0;
}
.home .wrapper:first-child .header p abbr[title] {
  border-bottom: 1px dashed rgba(234, 238, 240, 0.25);
}
.home .wrapper:first-child .header .scroll-indicator {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, 0px);
  display: block;
  height: 60px;
  width: 60px;
  animation: scroll 3s infinite;
  color: #ffffff;
  font-size: 2.2em;
  text-align: center;
  line-height: 1.8em;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}
.home .wrapper:first-child .header .scroll-indicator:hover {
  opacity: 1;
}
@media (max-width: 500px) {
  .home .wrapper:first-child .header .scroll-indicator {
    bottom: 20px;
  }
}
.motion .img-full {
  background-color: #6254e7;
}
.dotfetch .video-container,
.showpad .video-container {
  margin: 40px auto 20px auto;
}
.dotfetch .video-container video,
.showpad .video-container video {
  padding-top: 0;
}
@keyframes scroll {
  0% {
    transform: translate(-50%, 0px);
  }
  10% {
    transform: translate(-50%, 5px);
  }
  20% {
    transform: translate(-50%, 0px);
  }
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 60px -60px;
  position: relative;
}
.row > .video-container {
  max-width: 320px;
  margin: 40px 80px 20px auto;
}
.row > .video-container > video {
  padding-top: 0px;
}
.row > .old-new-toggle {
  margin: 40px 80px 20px auto;
  width: initial;
}
@media (max-width: 1023px) {
  .row > .old-new-toggle {
    margin: 40px 20px 20px 20px;
  }
}
.row .text {
  width: 460px;
}
@media (max-width: 1023px) {
  .row .text {
    width: 100%;
  }
}
.row > img {
  width: 100%;
  max-width: 320px;
  margin: 40px 80px 20px auto;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1023px) {
  .row {
    flex-direction: column;
    margin: 60px 0;
  }
  .row > .video-container,
  .row > img,
  .row > .frame-container {
    margin: 20px auto;
  }
}
.video-container,
.frame-container {
  position: relative;
}
.video-container > .helper,
.frame-container > .helper {
  position: absolute;
  top: -18px;
  left: -18px;
  font-size: 0.8em;
  color: #ffffff;
  background-color: #2F3E4A;
  padding: 8px 14px;
  border-radius: 8px;
}
.video-container > .helper > p,
.frame-container > .helper > p {
  margin: 0;
}
.video-container > .helper > p > i,
.frame-container > .helper > p > i {
  margin-right: 4px;
}
.video-container > .play-trigger,
.frame-container > .play-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: #EAEEF0;
  text-shadow: 0px 0px 60px #2f3e4a;
  text-align: center;
  width: 100%;
  padding: 120px 0;
  display: block;
  z-index: 9;
  cursor: pointer;
}
.video-container {
  width: 100%;
  margin: 80px auto 20px auto;
}
.video-container.no-label {
  margin: 0px auto 40px auto;
}
.video-container > video {
  display: block;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  padding-top: 40px;
}
.video-container > video.no-shadow {
  box-shadow: none;
  border-radius: 0;
}
.video-container.big {
  margin: 0px -100px 0 -100px;
  width: calc(100% + 200px);
}
@media (max-width: 1023px) {
  .video-container.big {
    margin: 0px -20px 0 -20px;
    width: calc(100% + 40px);
  }
}
.frame-container {
  width: 100%;
  max-width: 320px;
  height: 568.88px;
  margin: 40px 80px 20px auto;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
}
.frame-container.web {
  width: initial;
  max-width: none;
  margin: 40px -60px 20px;
  height: 538px;
}
.frame-container > iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.frame-container > iframe[name="prototypeSyncingEvents"] {
  background-image: url('../assets/akkroo/preview-sync.png');
}
.frame-container > iframe[name="prototypeRecordStarring"] {
  background-image: url('../assets/akkroo/preview-sync.png');
}
.frame-container > iframe[name="prototypeHighFive"] {
  background-image: url('../assets/akkroo/preview-highfive.png');
}
.frame-container > iframe[name="prototypeOnboarding"] {
  background-image: url('../assets/akkroo/preview-onboarding.png');
}
.frame-container > iframe[name="prototypeUserFeedback"] {
  background-image: url('../assets/akkroo/preview-feedback.png');
}
.frame-container > iframe[name="prototypeBadgeScanOld"] {
  background-image: url('../assets/akkroo/preview-badge-old.png');
}
.frame-container > iframe[name="prototypeBadgeScanNew"] {
  background-image: url('../assets/akkroo/preview-badge-new.png');
}
.frame-container > iframe[name="prototypeHedgehog"] {
  background-image: url('../assets/integrate/preview-hedgehog.png');
}
ul.thumbnails {
  padding: 0;
  margin: 40px -40px 0 -20px;
}
ul.thumbnails li {
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
  display: inline-block;
  width: calc(50% - 20px);
  margin: 0 20px 20px 0;
  padding: 0;
  vertical-align: top;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}
@media (max-width: 640px) {
  ul.thumbnails li {
    width: calc(100% - 20px);
  }
}
ul.thumbnails li:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
ul.thumbnails li a {
  display: block;
  text-decoration: none;
  border: 1px solid #11111126;
  border-radius: 6px;
}
ul.thumbnails li a:focus {
  outline-offset: -2px;
  outline: -webkit-focus-ring-color auto 1px;
}
ul.thumbnails li a.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
ul.thumbnails li a.disabled > h3 > span {
  color: #2F3E4A;
  background-color: #EAEEF0;
}
ul.thumbnails li a img {
  background-color: #1B1BFF;
  margin: 0;
  border-radius: 5px 5px 0 0;
}
ul.thumbnails li a h3 {
  margin: 20px 20px 5px 20px;
  text-decoration: none;
  font-size: 1.2em;
}
ul.thumbnails li a h3 > span {
  background-color: #EAEEF0;
  color: #638096;
  text-transform: uppercase;
  font-family: "azo-sans-web", 'Azo Sans', sans-serif;
  letter-spacing: 1px;
  border-radius: 8px;
  font-size: 0.4em;
  padding: 4px 6px;
  border: 3px solid #ffffff;
  display: inline-block;
  vertical-align: top;
  line-height: normal;
}
ul.thumbnails li a p {
  margin: 8px 20px 20px 20px;
  font-size: 0.8em;
  line-height: 1.6em;
  color: #2F3E4A;
}
.animated-image {
  display: block;
  height: 256px;
  width: 256px;
  margin: 32px auto;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(0.8);
}
.animated-image.logo {
  background-image: url('../assets/stowify/frames-logo.png');
}
.animated-image.glass {
  background-image: url('../assets/stowify/frames-glass.png');
}
.animated-image.spinner {
  background-image: url('../assets/stowify/frames-spinner.png');
}
.button-container {
  margin-bottom: 80px;
}
.button-container .button {
  display: inline-block;
  width: 88px;
  background-color: #EF8202;
  padding: 8px 16px;
  border-radius: 8px;
  color: #090959;
  cursor: pointer;
  margin: 0 4px;
}
.button-container .button.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.button-container.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.animated-image.logo.wink {
  animation: playWink 0.6s steps(20) 1;
}
.animated-image.logo.oops {
  animation: playOops 0.7s steps(21) 1 forwards;
}
.animated-image.logo.oops.back {
  animation: playBack 0.2s steps(9) forwards;
}
.animated-image.glass.break {
  animation: playBreak 0.2s steps(5) 1 forwards;
}
.animated-image.glass:not(.break) {
  animation: playFix 0.2s steps(5) 1 forwards;
}
.animated-image.spinner.spin {
  animation: playSpin 0.6s steps(20) 1 forwards;
}
@keyframes playWink {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -5120px;
  }
}
@keyframes playOops {
  from {
    background-position-x: -5632px;
  }
  to {
    background-position-x: -11008px;
  }
}
@keyframes playBack {
  from {
    background-position-x: -7680px;
  }
  to {
    background-position-x: -5376px;
  }
}
@keyframes playSpin {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -5120px;
  }
}
@keyframes playBreak {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1280px;
  }
}
@keyframes playFix {
  from {
    background-position-x: -1280px;
  }
  to {
    background-position-x: 0px;
  }
}
.dottify-demo {
  padding: 24px;
  box-sizing: border-box;
}
.dottify-demo .container {
  margin: 80px auto;
  width: 100%;
  max-width: 800px;
}
.dottify-demo .container .widget {
  position: relative;
}
.dottify-demo .container .widget img {
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.dottify-demo .container .widget img.before {
  position: absolute;
  top: 0;
  left: 0;
}
.dottify-demo .container .widget .dot {
  width: 32px;
  height: 32px;
  background: linear-gradient(180deg, #2C64E3 0%, #164FD0 100%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 1px #68B2C9, 0px 0px 0px 0px rgba(22, 79, 208, 0.1);
  border-radius: 20px;
  line-height: 32px;
  text-align: center;
  font-weight: 800;
  color: transparent;
  position: absolute;
  transform: scale(0.6);
  transition: transform 0.1s cubic-bezier(0.34, 2.01, 0.56, 1), color 0.1s linear, box-shadow 0.1s linear;
  cursor: pointer;
}
.dottify-demo .container .widget .dot.one {
  top: 25%;
  left: 25%;
}
.dottify-demo .container .widget .dot.two {
  top: 50%;
  left: 50%;
}
.dottify-demo .container .widget .dot.three {
  top: 75%;
  left: 75%;
}
.dottify-demo .container .widget .dot:hover,
.dottify-demo .container .widget .dot.focused {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 1px #68B2C9, 0px 0px 0px 16px rgba(22, 79, 208, 0.2);
}
.dottify-demo .container .toggle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 24px;
  isolation: isolate;
  width: fit-content;
  cursor: pointer;
  background: linear-gradient(180deg, #2C64E3 0%, #164FD0 100%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 1px #68B2C9;
  border-radius: 20px;
  position: relative;
  margin: 24px auto;
}
.dottify-demo .container .toggle.toggled .selection {
  left: 108px;
}
.dottify-demo .container .toggle.toggled .button.after {
  color: #2F3E4A;
  font-weight: 800;
}
.dottify-demo .container .toggle.toggled .button.before {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
}
.dottify-demo .container .toggle .button {
  width: 80px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 20;
}
.dottify-demo .container .toggle .button.before {
  color: #2F3E4A;
  font-weight: 800;
}
.dottify-demo .container .toggle .button.after {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
}
.dottify-demo .container .toggle .selection {
  position: absolute;
  width: 104px;
  height: 26px;
  background: #EDEFF2;
  border-radius: 16px;
  top: 4px;
  left: 4px;
  z-index: 10;
  transition: left 0.2s cubic-bezier(0.4, 1.26, 0.58, 1);
}
.dottify-demo .container .legend p {
  transition: transform 0.1s cubic-bezier(0.34, 2.01, 0.56, 1), opacity 0.1s linear;
  opacity: 1;
}
.dottify-demo .container .legend .dot {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  color: white;
  background: linear-gradient(180deg, #2C64E3 0%, #164FD0 100%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 1px #68B2C9, 0px 0px 0px 0px rgba(22, 79, 208, 0.1);
  border-radius: 20px;
  line-height: 32px;
  text-align: center;
  font-weight: 800;
  transform: scale(0.8);
  transition: transform 0.1s cubic-bezier(0.34, 2.01, 0.56, 1), color 0.1s linear, box-shadow 0.1s linear;
  cursor: pointer;
}
.dottify-demo .container .legend p:hover,
.dottify-demo .container .legend .focused {
  transform: scale(1.01);
}
.dottify-demo .container .legend p:hover .dot,
.dottify-demo .container .legend .focused .dot {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 1px #68B2C9, 0px 0px 0px 8px rgba(22, 79, 208, 0.2);
}
.dottify-demo .container:hover .widget .dot {
  transform: scale(1);
  color: white;
}
