* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: "azo-sans-web", 'Azo Sans', sans-serif;
}
.wrapper {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 50px;
}
.wrapper .back {
  display: block;
  width: 44px;
  height: 44px;
  font-size: 0;
  position: fixed;
  top: 89px;
  margin-left: -50px;
  opacity: .2;
  transition: transform 0.2s cubic-bezier(0.69, -0.01, 0.63, 1.55), opacity 0.2s ease;
}
.wrapper .back:hover {
  transform: scale(1.1);
  opacity: 1;
}
.wrapper .banner {
  padding: 20px;
  border-radius: 4px;
  margin: -50px 0 30px 0;
}
.wrapper .banner p {
  margin: 0;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid rgba(47, 62, 74, 0.1);
}
section,
header {
  margin-bottom: 80px;
}
h1 {
  font-size: 2em;
  line-height: 1.4em;
}
h2 {
  font-size: 1.6em;
  line-height: 1.6em;
}
h3 {
  font-size: 1.4em;
  line-height: 1.4em;
}
h4 {
  font-size: .8em;
  line-height: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  opacity: .6;
  letter-spacing: .1em;
}
figcaption {
  display: block;
  font-size: .8em;
  line-height: 1.8em;
  font-weight: 500;
  opacity: .6;
  text-align: center;
  margin-bottom: 100px;
}
blockquote {
  font-size: 1.4em;
  font-style: italic;
  opacity: .6;
}
cite {
  display: block;
  margin: 0 3em 3em 3em;
  font-size: .8em;
  line-height: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-style: initial;
}
abbr[title] {
  border-bottom: 1px dotted #303e4982;
  text-decoration: none;
}
p > a[target="_blank"]:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f35d";
  font-weight: 900;
  opacity: .4;
  font-size: .8em;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  display: inline-block;
  margin-left: 4px;
}
p > a[target="_blank"]:hover:after {
  opacity: 1;
}
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  margin: 20px auto;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
}
p,
li {
  font-size: 1em;
  line-height: 1.8em;
}
.label {
  color: #ffffff;
  font-size: .6em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 1px 3px 1px 4px;
  margin-left: 4px;
  border-radius: 4px;
  background-color: #1B1BFF;
  vertical-align: middle;
}
.disabled {
  text-decoration: underline;
  opacity: .3;
  cursor: not-allowed;
}
section img {
  width: 100%;
  display: block;
  margin: 20px auto;
}
section img.border-radius {
  border-radius: 4px;
}
section img.small {
  max-width: 200px;
}
section img.border {
  border-radius: 4px;
  border: 2px solid #EAEEF0;
}
.home section ul {
  margin-top: 40px;
}
.home section ul a {
  background-color: #f5e2ab;
  padding: 2px 2px;
}
header {
  padding: 80px 0 0;
}
header #logo {
  display: inline-block;
  transform: scale(1);
  transition: transform 0.2s cubic-bezier(0.69, -0.01, 0.63, 1.55);
}
header #logo:hover {
  transform: scale(1.05);
}
footer {
  padding: 0 0 80px 0;
}
footer ul {
  margin-left: -10px;
  padding: 0;
}
footer ul li {
  display: inline-block;
  list-style: none;
}
footer ul li a {
  display: block;
  padding: 8px;
  transition: transform 0.2s cubic-bezier(0.69, -0.01, 0.63, 1.55);
}
footer ul li a:hover {
  transform: scale(1.2);
}
.navigation {
  display: block;
  overflow: auto;
}
.navigation a {
  display: inline-block;
}
.navigation a.next {
  float: right;
}
/* Colour scheme */
body {
  background-color: #EAEEF0;
  color: #2F3E4A;
}
body a {
  color: #2F3E4A;
}
body a:hover {
  color: #1B1BFF;
}
body .back svg *,
body #logo svg *,
body footer li a svg * {
  fill: #2F3E4A;
}
body .back:hover svg *,
body #logo:hover svg *,
body footer li a:hover svg * {
  fill: #1B1BFF;
}
body .banner {
  color: white;
  background: #1B1BFF;
}
body.logos,
body.newsreader,
body.sintagma,
body.adclick-mpf,
body.interactions {
  background-color: #ffffff;
}
body.illustration {
  background-color: #fe5b60;
  color: #ffffff;
}
body.illustration a {
  color: #ffffff;
}
body.illustration a:hover {
  color: #2F3E4A;
}
body.illustration .back svg *,
body.illustration #logo svg *,
body.illustration footer li a svg * {
  fill: #ffffff;
}
body.illustration .back:hover svg *,
body.illustration #logo:hover svg *,
body.illustration footer li a:hover svg * {
  fill: #2F3E4A;
}
body.illustration .banner {
  color: white;
  background: #2F3E4A;
}
body.brastemp {
  background-color: #abdff3;
}
body.koala {
  background-color: #039dd7;
  color: #ffffff;
}
body.koala a {
  color: #ffffff;
}
body.koala a:hover {
  color: #2F3E4A;
}
body.koala .back svg *,
body.koala #logo svg *,
body.koala footer li a svg * {
  fill: #ffffff;
}
body.koala .back:hover svg *,
body.koala #logo:hover svg *,
body.koala footer li a:hover svg * {
  fill: #2F3E4A;
}
body.koala .banner {
  color: white;
  background: #2F3E4A;
}
body.deriva {
  background-color: #02b1de;
  color: #ffffff;
}
body.deriva a {
  color: #ffffff;
}
body.deriva a:hover {
  color: #2F3E4A;
}
body.deriva .back svg *,
body.deriva #logo svg *,
body.deriva footer li a svg * {
  fill: #ffffff;
}
body.deriva .back:hover svg *,
body.deriva #logo:hover svg *,
body.deriva footer li a:hover svg * {
  fill: #2F3E4A;
}
body.deriva .banner {
  color: white;
  background: #2F3E4A;
}
body.motion {
  background-color: #6254e7;
  color: #ffffff;
}
body.motion a {
  color: #ffffff;
}
body.motion a:hover {
  color: #2F3E4A;
}
body.motion .back svg *,
body.motion #logo svg *,
body.motion footer li a svg * {
  fill: #ffffff;
}
body.motion .back:hover svg *,
body.motion #logo:hover svg *,
body.motion footer li a:hover svg * {
  fill: #2F3E4A;
}
body.motion .banner {
  color: white;
  background: #2F3E4A;
}
body.adclick {
  background-color: #f48120;
  color: #ffffff;
}
body.adclick a {
  color: #ffffff;
}
body.adclick a:hover {
  color: #2F3E4A;
}
body.adclick .back svg *,
body.adclick #logo svg *,
body.adclick footer li a svg * {
  fill: #ffffff;
}
body.adclick .back:hover svg *,
body.adclick #logo:hover svg *,
body.adclick footer li a:hover svg * {
  fill: #2F3E4A;
}
body.adclick .banner {
  color: white;
  background: #2F3E4A;
}
body.smarkio,
body.smarkio-framing {
  background-color: #1b5aa2;
  color: #ffffff;
}
body.smarkio a,
body.smarkio-framing a {
  color: #ffffff;
}
body.smarkio a:hover,
body.smarkio-framing a:hover {
  color: #2F3E4A;
}
body.smarkio .back svg *,
body.smarkio-framing .back svg *,
body.smarkio #logo svg *,
body.smarkio-framing #logo svg *,
body.smarkio footer li a svg *,
body.smarkio-framing footer li a svg * {
  fill: #ffffff;
}
body.smarkio .back:hover svg *,
body.smarkio-framing .back:hover svg *,
body.smarkio #logo:hover svg *,
body.smarkio-framing #logo:hover svg *,
body.smarkio footer li a:hover svg *,
body.smarkio-framing footer li a:hover svg * {
  fill: #2F3E4A;
}
body.smarkio .banner,
body.smarkio-framing .banner {
  color: white;
  background: #2F3E4A;
}
body.dotfetch,
body.not-found {
  background-color: #EB404A;
  color: #ffffff;
}
body.dotfetch a,
body.not-found a {
  color: #ffffff;
}
body.dotfetch a:hover,
body.not-found a:hover {
  color: #2F3E4A;
}
body.dotfetch .back svg *,
body.not-found .back svg *,
body.dotfetch #logo svg *,
body.not-found #logo svg *,
body.dotfetch footer li a svg *,
body.not-found footer li a svg * {
  fill: #ffffff;
}
body.dotfetch .back:hover svg *,
body.not-found .back:hover svg *,
body.dotfetch #logo:hover svg *,
body.not-found #logo:hover svg *,
body.dotfetch footer li a:hover svg *,
body.not-found footer li a:hover svg * {
  fill: #2F3E4A;
}
body.dotfetch .banner,
body.not-found .banner {
  color: white;
  background: #2F3E4A;
}
body.akkroo {
  background-color: #008ac8;
  color: #ffffff;
}
body.akkroo a {
  color: #ffffff;
}
body.akkroo a:hover {
  color: #2F3E4A;
}
body.akkroo .back svg *,
body.akkroo #logo svg *,
body.akkroo footer li a svg * {
  fill: #ffffff;
}
body.akkroo .back:hover svg *,
body.akkroo #logo:hover svg *,
body.akkroo footer li a:hover svg * {
  fill: #2F3E4A;
}
body.akkroo .banner {
  color: white;
  background: #2F3E4A;
}
