* {
	box-sizing: border-box;
	//border: 1px solid red;
}

html, body {
	width: 100%;
	font-family: "azo-sans-web", 'Azo Sans', sans-serif;

}

.wrapper {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	padding: 0 50px;

	.back {
		display: block;
		width: 44px;
		height: 44px;
		font-size: 0;
		position: fixed;
		top: 89px;
		margin-left: -50px;
		opacity: .2;
		transition: transform .2s cubic-bezier(0.69,-0.01, 0.63, 1.55), opacity .2s ease;

		&:hover {
			transform: scale(1.1);
			opacity: 1;
		}
	}

	.banner {
		padding: 20px;
		border-radius: 4px;
		margin: -50px 0 30px 0;

		p {
			margin: 0;
		}
	}
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border: 1px solid rgba(47, 62, 74, 0.1);
}


section, header {
	margin-bottom: 80px;
}

h1, h2, h3 {
	font-family: poynter-oldstyle-text, serif;
	font-weight: 700;
	font-style: normal;
}


h1 {
	font-size: 3em;
	line-height: 1.4em;
}

h2 {
	font-size: 2.4em;
	line-height: 1.6em;
}

h3 {
	font-size: 1.6em;
	line-height: 1.4em
}

h4 {
	font-size: .8em;
	line-height: 1.8em;
	font-weight: 500;
	text-transform: uppercase;
	opacity: .6;
	letter-spacing: .1em;
}

figcaption {
	display: block;	
	font-size: .8em;
	line-height: 1.8em;
	font-weight: 500;
	opacity: .6;
	text-align: center;
	margin-bottom: 100px;
}

blockquote {
    font-size: 1.4em;
    font-style: italic;
    opacity: .6;
}

cite {
	display: block;
    margin: 0 3em 3em 3em;
    font-size: .8em;
	line-height: 1.8em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-style: initial;
}

abbr[title] {
	border-bottom: 1px dotted #303e4982;
	text-decoration: none;
}

p > a[target="_blank"] {
	&:after {
		font-family: "Font Awesome 5 Pro";
	  	content: "\f35d";
	  	font-weight: 900;
	  	opacity: .4;
	  	font-size: .8em;
	 	-webkit-font-smoothing: antialiased;
	    display: inline-block;
	    font-style: normal;
	    font-variant: normal;
	    text-rendering: auto;
	    line-height: 1;
		display: inline-block;
		margin-left: 4px;
	}
	
	&:hover:after {
		opacity: 1;
	}
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  margin: 20px auto;

  iframe {
  	position: absolute;
	  width: 100%;
	  height: 100%;
	  left: 0;
	  top: 0;
	  border-radius: 4px;
  }

}

p, li {
	font-size: 1em;
	line-height: 1.8em;
}

.label {
	color: #ffffff;
	font-size: .6em;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 1px 3px 1px 4px;
	margin-left: 4px;
	border-radius: 4px;
	background-color: #1B1BFF;
	vertical-align: middle;
}

.disabled {
	text-decoration: underline;
	opacity: .3;
	cursor: not-allowed;
}

section {
	img {
		width: 100%;
		display: block;
		margin: 20px auto;


		&.border-radius {
			border-radius: 4px;
		}

		&.small {
			max-width: 200px;
		}

		&.border {
			border-radius: 4px;
			border: 2px solid #EAEEF0;	
		}

	}

	.img-full {

		width: 100vw;
  		position: relative;
  		left: 50%;
  		right: 50%;
  		margin-left: -50vw;
  		margin-right: -50vw;
		background-color: #008ac8;
		margin-top: 40px;
		margin-bottom: 40px;

		img {
			width: 100%;
			max-width: 800px;
		}
	}
}

.home {
	section {
		ul {
			margin-top: 40px;
			
			a {
				color: #1B1BFF;
				&:visited {color: #7e1bff;}
				//background-color: #f5e2ab;
				//padding: 2px 2px;
			}
		}
	}
}

header {
	padding: 80px 0 0;

	#logo {
		display: inline-block;
		transform: scale(1);
		transition: transform .2s cubic-bezier(0.69,-0.01, 0.63, 1.55);

		&:hover {
			transform: scale(1.05);
		}
	}
}

footer {
	padding: 0 0 80px 0;

	ul {
		margin-left: -10px;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
			
			a {
				display: block;
				padding: 8px;
				//transform: scale(1);
				transition: transform .2s cubic-bezier(0.69,-0.01, 0.63, 1.55);

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

.navigation {
	display: block;
	overflow: auto;

	a {
		display: inline-block; 

		&.next {
			float: right;
		}
	}
}


/* Colour scheme */


body {
	background-color: #EAEEF0;
	color: #2F3E4A;
	a {
		color: #2F3E4A;
		&:hover {
			color: #1B1BFF;
			&:visited {color: #7e1bff;}
		}
		
	}
	.back, #logo, footer li a {
		svg * {fill: #2F3E4A;}
		&:hover {svg * {fill: #1B1BFF;}}
	}
	.banner {
		color: white;
		background: #1B1BFF;
	}
}


body {
	&.logos, &.newsreader, &.sintagma, &.adclick-mpf, &.interactions {
		background-color: #ffffff;
	}
}



body.illustration {
	background-color: #fe5b60;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover {
			color: #2F3E4A;
			//&:visited {color: #FF2083;}
		}	
	}
	.back, #logo, footer li a {
		svg * {fill: #ffffff;}
		&:hover {svg * {fill: #2F3E4A;}}
	}
	.banner {
		color: white;
		background: #2F3E4A;
	}
}

body.brastemp {
	background-color: #abdff3;
}


body.koala {
	background-color: #039dd7;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover {
			color: #2F3E4A;
			//&:visited {color: #FF2083;}
		}	
	}
	.back, #logo, footer li a {
		svg * {fill: #ffffff;}
		&:hover {svg * {fill: #2F3E4A;}}
	}
	.banner {
		color: white;
		background: #2F3E4A;
	}
}


body.deriva {
	background-color: #02b1de;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover {
			color: #2F3E4A;
			//&:visited {color: #FF2083;}
		}	
	}
	.back, #logo, footer li a {
		svg * {fill: #ffffff;}
		&:hover {svg * {fill: #2F3E4A;}}
	}
	.banner {
		color: white;
		background: #2F3E4A;
	}
}


body.motion {
	background-color: #6254e7;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover {
			color: #2F3E4A;
			//&:visited {color: #FF2083;}
		}	
	}
	.back, #logo, footer li a {
		svg * {fill: #ffffff;}
		&:hover {svg * {fill: #2F3E4A;}}
	}
	.banner {
		color: white;
		background: #2F3E4A;
	}
}

body.adclick {
	background-color: #f48120;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover {
			color: #2F3E4A;
			//&:visited {color: #FF2083;}
		}	
	}
	.back, #logo, footer li a {
		svg * {fill: #ffffff;}
		&:hover {svg * {fill: #2F3E4A;}}
	}
	.banner {
		color: white;
		background: #2F3E4A;
	}
}

body.smarkio, body.smarkio-framing {
	background-color: #1b5aa2;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover {
			color: #2F3E4A;
			//&:visited {color: #FF2083;}
		}	
	}
	.back, #logo, footer li a {
		svg * {fill: #ffffff;}
		&:hover {svg * {fill: #2F3E4A;}}
	}
	.banner {
		color: white;
		background: #2F3E4A;
	}
}

body.dotfetch, body.not-found {
	background-color: #EB404A;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover {
			color: #2F3E4A;
			//&:visited {color: #FF2083;}
		}	
	}
	.back, #logo, footer li a {
		svg * {fill: #ffffff;}
		&:hover {svg * {fill: #2F3E4A;}}
	}
	.banner {
		color: white;
		background: #2F3E4A;
	}
}

body.akkroo {
	background-color: #008ac8;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover {
			color: #2F3E4A;
			//&:visited {color: #FF2083;}
		}	
	}
	.back, #logo, footer li a {
		svg * {fill: #ffffff;}
		&:hover {svg * {fill: #2F3E4A;}}
	}
	.banner {
		color: white;
		background: #2F3E4A;
	}
}



// new styles below



