* {box-sizing: border-box;}

html, body {
	width: 100%;
	height: 100%;
	font-family: "azo-sans-web", 'Azo Sans', sans-serif;
	color: #2F3E4A;
	background-color: #EAEEF0;
}

.wrapper {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 50px;

	.back {
		display: block;
		width: 44px;
		height: 44px;
		font-size: 0;
		position: fixed;
		top: 89px;
		margin-left: -50px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../assets/back.svg');
		opacity: .2;
		transition: transform .2s cubic-bezier(0.69,-0.01, 0.63, 1.55), opacity .2s ease;

		&:hover {
			transform: scale(1.1);
			opacity: 1;
		}
	}

	.banner {
		color: white;
		background: #1B1BFF;
		padding: 20px;
		border-radius: 4px;
		margin: -50px 0 30px 0;

		p {
			margin: 0;
		}
	}
}



section, header {
	margin-bottom: 80px;
}


h1 {
	font-size: 2em;
	line-height: 1.4em;
}

h2 {
	font-size: 1.6em;
	line-height: 1.6em;
}

h3 {
	font-size: 1.4em;
	line-height: 1.4em
}

h4 {
	font-size: .8em;
	line-height: 1.8em;
	font-weight: 500;
	text-transform: uppercase;
	opacity: .6;
	letter-spacing: .1em;
}

p, li {
	font-size: 1em;
	line-height: 1.8em;
}

a {
	color: #1B1BFF;

	&:visited {
		color: #FF2083;
	}
}


section.test {
	padding: 20px;
	border: 1px solid red;
}

header {
	padding: 80px 0 0;

	#logo {
		display: block;
		width: 64px;
		height: 60px;
		transition: transform .5s cubic-bezier(0.69,-0.01, 0.63, 1.55);
		svg {
			path {fill: #2F3E4A; }
		}
		&:hover {
			transform: scale(1.1);
			svg path {fill: #1B1BFF;}
		}
	}
}

footer {
	padding: 0 0 80px 0;

	ul {
		margin-left: -10px;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
			
			a {
				display: block;
				font-size: 0;
				width: 44px;
				height: 44px;
				-webkit-background-size: 24px;
				background-size: 24px;
				background-repeat: no-repeat;
				background-position: center center;
				transition: transform .2s cubic-bezier(0.69,-0.01, 0.63, 1.55);

				&[href="https://dribbble.com/sandrodcpereira?utm_source=portfolio"] {
					background-image: url('../assets/dribbble.svg');
				}
				&[href="https://twitter.com/sandrodcpereira?utm_source=portfolio"] {
					background-image: url('../assets/twitter.svg');
				}
				&[href="https://www.instagram.com/sandrodcpereira?utm_source=portfolio"] {
					background-image: url('../assets/instagram.svg');
				}
				&[href="https://www.linkedin.com/in/sandrodcpereira?utm_source=portfolio"] {
					background-image: url('../assets/linkedin.svg');
				}
				&[href="mailto:hello@sandrodcpereira.com"] {}
				
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

